/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  color: #00A19B;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ffffff ;
}

/* Common Heading Styles */
h1, h2 {
  text-transform: uppercase;
}

/* Header Styling */
.ferrari-header {
  background-color: rgba(0, 0, 0, 0); /* Ferrari Red */
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #00A19B; /* Ferrari Gold */
}

.ferrari-header h1 {
  margin: 0;
  color: #FFFFFF;
  font-size: 2.5rem;
}

/* Main Content Styles */
.main-content {
  padding: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 30px;
}

/* Content Box Styling */
.contents {
  background-color: #121212;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.contents h2 {
  color: #ffffff;
  margin-top: 0;
}

.contents ul {
  list-style-type: none;
  padding: 0;
}

.contents ul li {
  padding: 10px 0;
  font-size: 1.2rem;
}

.contents ul li a {
  border-bottom: 1px dotted #000000;
}

.contents ul li a:hover {
  border-bottom: 1px solid #00A19B;
}

/* Footer Styling */
.ferrari-footer {
  background-color: #000000; /* Ferrari Red */
  text-align: center;
  padding: 10px;
  border-top: 3px solid #00A19B; /* Ferrari Gold */
  position: relative;
  bottom: 0;
  width: 100%;
}

.ferrari-footer p {
  margin: 0;
  color: #FFFFFF;
  font-size: 0.9rem;
}

/* Image Styling */
img.center-img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border: 3px solid #fff; /* Adds a clean white border */
  border-radius: 10px;
}

/* Button Styling */
button {
  background-color: #00A19B; /* Ferrari Gold */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: #fff;
  color: #000000; /* Ferrari Red */
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    margin: 20px;
    padding: 15px;
  }

  .ferrari-header h1 {
    font-size: 2rem;
  }

  .contents h2 {
    font-size: 1.5rem;
  }

  .contents ul li {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }
}
